<!-- Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content-lounge">
        <div class="close-modal">
            <span class="center">&times;</span>
        </div>
        <div class="modal-body">
            <p class="text-background">
            <h1>Your Wait is Almost Over!</h1>
            </p>
            <!-- TODO: combine all modals and make reusable with different messages displayed -->
            <div>Ready? Time left to join: <span id="timer">10</span></div>
        </div>

        <div class="button-row">
            <!-- TODO: Add functions to alert players -->
            <div class="modal-btn-holder">
                <div id="confirm-btn" class="btn" data-response=true>CONFIRM</div>
            </div>
            <!-- <div class="modal-btn-holder confirm-btn"><a class="btn" href="/game"><span>CONFIRM</span></a></div> -->
            <div class="modal-btn-holder divider"></div>
            <div class="modal-btn-holder">
                <div id="cancel-btn" class="btn" data-response=false>CANCEL</div>
            </div>
            <!-- <div class="modal-btn-holder cancel-btn"><a class="btn" href="/game-lounge"><span>CANCEL</span></a></div> -->
        </div>

        <!-- <div>
        </div> -->
    </div>

</div>