<!-- Modal -->
<div id="myModal" class="modal hidden">

    <!-- Modal content -->
    <div class="modal-content-lounge">
        <div class="close-modal">
            <span class="center">&times;</span>
        </div>
        <div>
            <p class="text-background">
            <h1>Your Wait is Over!</h1>
            </p>
            <!-- TODO: combine all modals and make reusable with different messages displayed -->
            <div>Ready? Time left to join: <span id="timer">10</span></div>
        </div>

        <!-- <div>
            <a class="enter-btn glow" href="/game"><span>ENTER</span></a>
        </div> -->
    </div>

</div>