<!-- Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="text-background">
        <h1>Your Wait is Over!</h1>
        </p>
        <!-- TODO: combine all modals and make reusable with different messages displayed -->
        <a class="enter-btn glow" href="/game"><span>ENTER</span></a>
    </div>

</div>