<!-- Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="text-background"><h1>Game Over!</h1></p>
        <!-- TODO: add usernames, winner, and option to play again -->
    </div>

</div>