<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../assets/css/lounge.css">
</head>
<div class="lounge-container center">

    <div class="chat-container center">
        <header class="chat-header">
            <h1><i class="fas fa-coffee"></i> Game Lounge</h1>
            <a href="/users/login" class="btn"><i class="fas fa-door-open"></i> Leave Room</a>
        </header>

        <main class="chat-main">

            <div class="chat-sidebar">
                <div>
                    Welcome <span id="username-span" data-username=<%- user.name %>>
                        <%- user.name %>
                    </span>
                </div>
                <br>
                <div>
                    <button id="add-me-to-wait-list" class="btn"><i class="fas fa-list"></i> Join Wait List</button>
                    <button id="remove-me-from-wait-list" class="btn"><i class="fas fa-close"></i> Cancel Wait List</button>
                    <br>
                    <span id="wait-listed"></span>
                </div>
                <br>
                <h3><i class="fas fa-comments"></i> Room Name: <%- user.roomName %>
                </h3>
                <h2 id="room-name"></h2>
                <h3><i class="fas fa-users"></i> Players</h3>
                <ul id="users"></ul>
            </div>
            <div class="chat-messages"></div>
        </main>
        <div class="chat-form-container">
            <form id="chat-form">
                <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
            </form>

        </div>
    </div>
</div>

<%- include ('./partials/game-start-modal') %>
    
    <!-- Socket.IO Javacript -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/lounge.js"></script>