<div class="splash-container">

    <div class="text-background">
        <h1>Time Bomber</h1>

        <div class="msg-block">
            <h2 id="intro-msg"> Timing is Everything! </h2>
        </div>
    </div>

    <div class="modal-background">

        <div class="modal-window glow primary">

            <h1> Login </h1>
            <%- include ('./partials/messages') %>

                <form action="/users/login" method="POST">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Enter Email" autocomplete="email" />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Enter Password" autocomplete="current-password" />

                    </div>
                    <button type="submit" class="btn btn-block">Login</button>

                </form>
                <p class="link-row">Need An Account? <a href="/users/register">Register</a></p>
        </div>
    </div>
</div>