<div class="splash-container">

    <div class="text-background">
        <h1>Time Bomber</h1>
        <a class="enter-btn glow" href="/game-lounge"><span>ENTER LOUNGE</span></a>
        <!-- <a class="enter-btn glow" href="/game"><span>ENTER</span></a> -->

        <div class="msg-block">
            <h2 id="intro-msg"> Timing is Everything! </h2>
            <!-- <a class="enter-btn" href="/game"><span>ENTER</span></a> -->
        </div>
    </div>
</div>

<script src="assets/js/intro.js"></script>