<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Bomber</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="splash-container">

        <div class="text-background">
            <h1>Time Bomber</h1>
            <a class="enter-btn glow" href="/game"><span>ENTER</span></a>

            <div class="msg-block">
                <h2 id="intro-msg"> Timing is Everything! </h2>
                <!-- <a class="enter-btn" href="/game"><span>ENTER</span></a> -->
            </div>
        </div>
    </div>

    <script src="assets/js/intro.js"></script>
</body>

</html>