<!-- <html> -->
<div class="splash-container">
    <div class="text-background">
        <h1>Time Bomber</h1>

        <div class="msg-block">
            <h2 id="intro-msg"> Timing is Everything! </h2>
        </div>
    </div>
    <div class="modal-background">

        <div class="modal-window primary glow">
            <h1>Welcome!</h1>
            <p>Create an account or login</p>
            <div class="link-row">
                <a href="/users/register">Register</a>
                <a href="/users/login"> Login</a>
            </div>

        </div>
    </div>
</div>
<!-- </html> -->