@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-color-a: #36147e;
    --dark-color-b: #8c07c0;
    --light-color: #29aaddc0;
    --lighter-color: #b377d3c0;
    --gray-color: #7d7dddc4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* background: var(--light-color); */
    margin: 20px;
    overflow-x: hidden;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.lounge-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
}

/* Chat Page */

.chat-container {
    /* z-index: 2; */
    /* max-width: 1100px; */
    background: rgba(255, 255, 255, 0.308);
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: auto;
    overflow: hidden;
}

.chat-header {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 80%;

}

.chat-sidebar {
    background: var(--dark-color-b);
    color: #fff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    /* background-color: var(--light-color); */
    border-radius: 5px;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

/* Join Page */
.join-container {
    z-index: 2;
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.join-main {
    padding: 30px 40px;
    background: var(--dark-color-b);
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}

.toast-minimize-btn {
    border-radius: 0px 10px 10px 0px;
    background-color: red;
    width: 25px;
    height: 25px;
    position: relative;
    top: 0;
    left: 0;
}

.toast-panel {
    padding: 30px;
    display: flex;
    align-content: center;
    flex-direction: column;
    border-top: 1px solid;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow-y: scroll; */
    width: 350px;
}

.toast-card {
    margin: 25px;
    height: 75px;
    width: 300px;
    position: relative;
    display: flex;
    background-color: rgba(205, 197, 206, 0.835);
    border: 3px solid gray;
    border-left: 5px solid #8c07c0c4;
}


#myModal {
    position: absolute;
    z-index: 50;
    font-size: x-large;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.modal-content-lounge {
    border-radius: 15px;
    background-color: #fefefeb2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 60%;
    font-size: large;
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#wait-listed {
    color: #65f009;
    animation: text-glow 1s ease-in-out infinite alternate;
}

@keyframes text-glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #65f009, 0 0 40px #65f009, 0 0 50px #65f009, 0 0 60px #65f009, 0 0 70px #65f009;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px var(--dark-color-b), 0 0 40px var(--dark-color-b), 0 0 50px var(--dark-color-b), 0 0 60px var(--dark-color-b), 0 0 70px var(--dark-color-b), 0 0 80px var(--dark-color-b);
    }
}

#remove-me-from-wait-list {
    display: none;
}

#add-me-to-wait-list {
    display: block;
}

.msg-self {
    background-color: var(--light-color);
}

.msg-other {
    background-color: var(--lighter-color);
}

.msg-bot {
    background-color: var(--gray-color);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.button-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
}

.modal-btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

#sub-text {
    color: rgba(183, 238, 240, 0.651);
    font-size: .75rem;
}

/* .confirm-btn {
} */