/* * {
    box-sizing: border-box;
} */
body {
    background-image: radial-gradient(rgb(23, 167, 233), purple);
    max-width: 1000px;
    min-width: 800px;
    max-height: 1000px;
    min-height: 800px;
    width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.aside {
    width: 20%;
    height: 80%;
    background-image: linear-gradient(rgba(161, 44, 230, 0.472), rgba(128, 0, 128, 0.342));
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.world-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.spinner {
    background-repeat: no-repeat;
    background-size: 643px;
    height: 643px;
    width: 643px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}

#dropper {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: #af4add solid 1px;
    top: 50%;
    left: 50%;
    position: absolute;
}

#clock-runner {
    background-image: url("../images/hazmat-runner-frontside-single.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.bomb-drop {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    position: relative;
    text-align: center;
}

.bomb {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    margin: -5px 0px 0px -5px;
    position: absolute;
}

.glow {
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0px 0px 20px 3px #af4add;
        /* box-shadow: 0px 0px 20px 3px #4a60dd; */
        border: rgb(140, 0, 255) 3px darkblue;
    }

    to {
        box-shadow: 0px 0px 15px 8px rgb(234, 0, 255);
        border: rgba(255, 0, 234, 0.726) 10px rgb(0, 76, 139);
        /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
    }
}

#clock {
    background: url("../images/clock.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 400px;
    width: 400px;
    position: relative;
    border: 10px solid rgb(9, 226, 241);
    border-radius: 50%;
}

/* div {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} */

#runner {
    width: 200px;
    height: 202px;
}

.move-left {
    animation: walk-left 1s steps(6) infinite,
        backward 15s linear infinite;
    transition-timing-function: ease-in;
    transition: .25s;
}

.move-right {
    animation: walk-right 1s steps(6) infinite,
        forward 15s linear infinite;
    transition-timing-function: ease-in;
    transition: .25s;
}

.move-forward {
    animation: walk-forward 1s steps(4) 3,
        backward 15s linear infinite;
}

.move-backward {
    animation: walk-backward 1s steps(4) 3,
        forward 15s linear infinite;
}

@keyframes walk-left {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 3806px;
    }
}

@keyframes walk-right {
    0% {
        background-position: 3806px;
    }

    100% {
        background-position: 0px;
    }
}

@keyframes walk-forward {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 3806px;
    }
}

@keyframes walk-backward {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 3806px;
    }
}

/* drop-box tests: */

.drop-box {
    /* clock height/width: 400px */
    /* number of drop boxes: 12 */
    /* border-radius: 50%; */
    left: 50%;
    top: 50%;
    background-color: blueviolet;
    position: absolute;
    /* height: calc(400px / 12);
    width: calc(400px / 12);
    margin: calc(-(33px / 2)); */
}

.clock-parts {
    border-radius: 50%;
}

#outer-circle {
    height: 425px;
    width: 425px;
    position: absolute;
    border: 10px solid rgb(152, 241, 9);
}

#main-circle {
    height: 100%;
    width: 100%;
    position: relative;
}