body {
    margin-left: 0px;
    margin-top: 0px;
    max-width: 99vw;
    min-width: 95vw;
    max-height: 99vw;
    min-height: 95vw;
}
.world-holder {
    position: relative;
    padding-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    background: url("../images/clock-runner-R.png");
    /* background: url("./clock.png"); */
    background-repeat: no-repeat;
    background-size: 643px;
    height: 643px;
    width: 643px;
    /* position: relative; */
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bomb-drop {
    /* background-color: aqua; */
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: rgba(255, 0, 234, 0.877) 3px dashed;
    position: relative;
    text-align: center;
}

.bomb {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: red 10px solid;
    position: absolute;
    /* text-align: center; */
}

#clock {
    background: url("../images/clock.png");
    /* background: url("./clock.png"); */
    background-repeat: no-repeat;
    background-size: 425px;
    height: 425px;
    width: 425px;
    position: relative;
    border: 10px solid rgb(9, 226, 241);
    border-radius: 50%;
    /* padding: 7px; */
}

#clock-test {
    position: absolute;
    margin-top: 0px;
    min-width: 95vw;;
    min-height: 95vh;
    max-width: 99vw;
    max-height: 99vh;
    z-index: 99;
    background-color: rgba(127, 255, 212, 0.068);
}

/* div {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} */

body {
    background-image: radial-gradient(rgb(23, 167, 233), purple);
    height: 100vh;
}

#road {
    border-bottom: 7px dashed black;
}

#runner {
    width: 200px;
    height: 202px;
}

.move-left {
    animation: walk-left 1s steps(6) infinite,
        backward 15s linear infinite;
        /* rotate-left 8s infinite linear; */
    transition-timing-function: ease-in;
    transition: .25s;
}

.move-right {
    animation: walk-right 1s steps(6) infinite,
        forward 15s linear infinite;
        /* rotate-right 8s infinite linear; */
    transition-timing-function: ease-in;
    transition: .25s;
}

.move-forward {
    animation: walk-forward 1s steps(4) 3,
        backward 15s linear infinite;
}

.move-backward {
    animation: walk-backward 1s steps(4) 3,
        forward 15s linear infinite;
}

@keyframes walk-left {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 3806px;
    }
}

@keyframes walk-right {
    0% {
        background-position: 3806px;
    }

    100% {
        background-position: 0px;
    }
}

@keyframes walk-forward {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 3806px;
    }
}

@keyframes walk-backward {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 3806px;
    }
}

/* @keyframes rotate-right {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }

    to {
        transform: rotate(359deg);
        transform-origin: center;
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(359deg);
        transform-origin: center;
    }

    to {
        transform: rotate(0deg);
        transform-origin: center;
    }
} */


/* @keyframes mymove {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    100% {
        transform-origin: center;
    }
} */